// Icon sise
$sz-icon-size: 48px;

// Default icons with transparent background
$sz-default-col:         #ccc;
$sz-default-bgcol:       transparent;
$sz-default-hover-col:   orange;
$sz-default-hover-bgcol: transparent;

// Monochromatic hover
$sz-mono-hover-col:   orange;

// Hover when icons are colored
$sz-colored-hover-col:   green;

// Filled & rounded
$sz-filled-col:   #fff;
$sz-filled-bgcol: #ccc;
$sz-filled-hover-col:   #fff;
$sz-filled-hover-bgcol: purple;

// Name // Char // Brand color // Text color when square - circle
$sz-services:
('share',       '\e906', '#666666', '#fff'),
('facebook',    '\e900', '#3b5998', '#fff'),
('google-plus', '\e901', '#dd4b39', '#fff'),
('instagram',   '\e902', '#517fa4', '#fff'),
('linkedin',    '\e903', '#007bb6', '#fff'),
('pinterest',   '\e904', '#cb2027', '#fff'),
('twitter',     '\e907', '#00aced', '#fff'),
('youtube',     '\e908', '#bb0000', '#fff'),
('print',       '\e905', '#666666', '#fff');
